
* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color:rgb(9, 1, 10);
    color: white;
    min-height: 100vh;
}


header {
    padding: 30px 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px var(--cyan);
}

header h1 {
    margin: 0;
    color: var(--cyan);
    font-size: 2.2rem;
}

header p {
    margin: 8px 0 0;
    color: #da95bd;
}


.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

input, select {
    padding: 12px 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
}


.container {
    padding: 25px;
    overflow-x: auto;
}

table {
    width: 100%;
    min-width: 900px;
    border-collapse: collapse;
    background: var(--card);
    border-radius: 15px;
    overflow: hidden;
}

thead {
    background: rgba(0, 0, 0, 0.9);
}

th, td {
    padding: 14px;
    border-bottom: 1px solid var(--border);
    text-align: left;
}

th {
    color: var(--cyan);
}

tr {
    cursor: pointer;
}

tr:hover {
    background: rgba(128, 7, 91, 0.06);
}

.up { color: var(--up); }
.down { color: var(--down); }

img {
    vertical-align: middle;
    margin-right: 10px;
}


footer {
    text-align: center;
    padding: 18px;
    color: #94a3b8;
}

#modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    z-index: 999;
}

.modal-box {
    max-width: 800px;
    margin: 40px auto;
    background: var(--bg);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 35px var(--cyan);
}

.close {
    float: right;
    font-size: 22px;
    cursor: pointer;
}

@media(max-width: 768px) {
    header h1 { font-size: 1.8rem; }
}